@import "tailwindcss";
@plugin "daisyui" {
	themes: light --default, black --prefersdark;
}

@utility btn-primary {
	@apply bg-[#E50914] rounded;
}
.file-input-primary {
	--btn-color: #e50914;
	@apply rounded;
}
.input,
select {
	@apply w-full rounded;
}

.custom-bg-radial {
	box-sizing: border-box;
	position: absolute;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border: solid 0.25rem transparent;
	border-top-left-radius: 50% 100%;
	border-top-right-radius: 50% 100%;
	border-bottom: none;
	background: radial-gradient(
			50% 500% at 50% -420%,
			rgba(64, 97, 231, 0.4) 80%,
			rgba(0, 0, 0, 0.1) 100%
		),
		black;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	width: 120%;
	left: -10%;
}

.custom-bg-radial::before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	margin-top: -0.25rem;
	border-radius: inherit;
	background: linear-gradient(
		to right,
		rgba(33, 13, 22, 1) 16%,
		rgba(184, 40, 105, 1),
		rgba(229, 9, 20, 1),
		rgba(184, 40, 105, 1),
		rgba(33, 13, 22, 1) 84%
	);
}

@utility input {
	@apply w-full rounded;
}
@utility file-input {
	@apply w-full;
}
@utility select {
	@apply w-full;
}
